* {
    -webkit-tap-highlight-color: green;
  }
  
  .main {
    width: 100%;
    background-image: linear-gradient(to right, lightyellow, lightblue);
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 23%);
    padding-top: 3%;
    padding-bottom: 3%;
    gap: 2.5%;
    letter-spacing: 1.5px;
    align-items: center;
    margin-top: 5vh;
  }
  
  .parentDiv {
    width: 100%;
    margin: auto;
    display: block;
    height: 270px;
  }
  
  .image {
    width: 100%;
  }
  
  .followHeading {
    font-size: 20px;
    font-weight: 500;
    color: darkcyan;
    text-decoration: underline;
    margin-top: -1px;
  }
  
  .followImage {
    height: 45px;
    display: block;
    margin: auto;
    margin-bottom: 15px;
    cursor: pointer;
  }
  
  .followImagex {
    height: 7.5vh;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .followDivHeading {
    font-size: 20px;
    font-weight: 500;
    color: darkcyan;
    text-decoration: underline;
  }
  
  .imageDiv {
    display: flex;
    margin-top: 5vh;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .popularServices:hover {
    text-decoration: underline;
    cursor: pointer;
    color: lightseagreen;
  }
  
  .popularServices2 {
    width: 100%;
  }

  .image:hover{
    cursor: pointer;
  }

  .developerInfoDiv{
    padding-top: 2px;
    letter-spacing: 1px;
    padding-bottom: 2px;
    background-image: linear-gradient(to right,white,lightblue);
  }

  .developerInfoText{
    color: rgb(6, 44, 57);
    font-weight: 500;
  }

  .nameText{
    color: darkblue;
    text-decoration: underline;
  }

  .nameText:hover{
    cursor: pointer;
  }
  
  @media all and (max-width: 1000px) {
    * {
      -webkit-tap-highlight-color: green;
    }
  
    .main {
      width: 100%;
      background-image: linear-gradient(to right, lightyellow, lightblue);
      padding-left: 3%;
      padding-right: 3%;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: repeat(4, 23%);
      padding-top: 3%;
      padding-bottom: 3%;
      letter-spacing: 1.5px;
      gap: 2.5%;
      align-items: center;
      margin-top: 5vh;
    }
  
    .parentDiv {
      margin: auto;
      display: block;
      height: 270px;
    }
  
    .image {
      width: 100%;
    }
  
    .followHeading {
      font-size: 20px;
      font-weight: 500;
      color: darkcyan;
      text-decoration: underline;
      margin-top: -1px;
    }
  
    .followImage {
      height: 45px;
      display: block;
      margin: auto;
      margin-bottom: 15px;
      cursor: pointer;
    }
  
    .followImagex {
      height: 7.5vh;
      display: block;
      margin: auto;
      margin-bottom: 10px;
      cursor: pointer;
    }
  
    .followDivHeading {
      font-size: 20px;
      font-weight: 500;
      color: darkcyan;
      text-decoration: underline;
    }
  
    .imageDiv {
      display: flex;
      margin-top: 5vh;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  
    .popularServices:hover {
      text-decoration: underline;
      cursor: pointer;
      color: lightseagreen;
    }
  
    .popularServices2 {
      width: 100%;
      font-size: 15px;
    }
  }

  @media all and (max-width: 900px) {
    * {
      -webkit-tap-highlight-color: green;
    }
  
    .main {
      width: 100%;
      background-image: linear-gradient(to right, lightyellow, lightblue);
      padding-left: 3%;
      padding-right: 3%;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: repeat(4, 23%);
      padding-top: 3%;
      padding-bottom: 13%;
      letter-spacing: 1.5px;
      gap: 2.5%;
      align-items: center;
      margin-top: 5vh;
    }
  
    .parentDiv {
      margin: auto;
      display: block;
      height: 270px;
    }
  
    .image {
      width: 100%;
    }
  
    .followHeading {
      font-size: 20px;
      font-weight: 500;
      color: darkcyan;
      text-decoration: underline;
      margin-top: -1px;
    }
  
    .followImage {
      height: 45px;
      display: block;
      margin: auto;
      margin-bottom: 15px;
      cursor: pointer;
    }
  
    .followImagex {
      height: 7.5vh;
      display: block;
      margin: auto;
      margin-bottom: 10px;
      cursor: pointer;
    }
  
    .followDivHeading {
      font-size: 20px;
      font-weight: 500;
      color: darkcyan;
      text-decoration: underline;
    }
  
    .imageDiv {
      display: flex;
      margin-top: 5vh;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  
    .popularServices:hover {
      text-decoration: underline;
      cursor: pointer;
      color: lightseagreen;
    }
  
    .popularServices2 {
      width: 100%;
      font-size: 15px;
    }
  }
  
  @media all and (max-width: 850px) {
    * {
      -webkit-tap-highlight-color: green;
    }
  
    .main {
      width: 100%;
      background-image: linear-gradient(to right, lightyellow, lightblue);
      padding-left: 3%;
      padding-right: 3%;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: repeat(4, 23%);
      padding-top: 3%;
      padding-bottom: 13%;
      letter-spacing: 1.5px;
      gap: 2.5%;
      align-items: center;
      margin-top: 5vh;
    }
  
    .parentDiv {
      margin: auto;
      display: block;
      height: 270px;
    }
  
    .image {
      width: 100%;
    }
  
    .followHeading {
      font-size: 20px;
      font-weight: 500;
      color: darkcyan;
      text-decoration: underline;
      margin-top: -1px;
    }
  
    .followImage {
      height: 45px;
      display: block;
      margin: auto;
      margin-bottom: 15px;
      cursor: pointer;
    }
  
    .followImagex {
      height: 7.5vh;
      display: block;
      margin: auto;
      margin-bottom: 10px;
      cursor: pointer;
    }
  
    .followDivHeading {
      font-size: 20px;
      font-weight: 500;
      color: darkcyan;
      text-decoration: underline;
    }
  
    .imageDiv {
      display: grid;
      margin-top: 5vh;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  
    .popularServices:hover {
      text-decoration: underline;
      cursor: pointer;
      color: lightseagreen;
    }
  
    .popularServices2 {
      width: 100%;
      font-size: 15px;
    }
  }
  
  @media all and (max-width: 750px) {
      * {
        -webkit-tap-highlight-color: green;
      }
    
      .main {
        width: 100%;
        background-image: linear-gradient(to right, lightyellow, lightblue);
        padding-left: 3%;
        padding-right: 3%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(4, 23%);
        padding-top: 3%;
        padding-bottom: 15%;
        letter-spacing: 1.5px;
        gap: 2.5%;
        align-items: center;
        margin-top: 5vh;
      }
    
      .parentDiv {
        margin: auto;
        display: block;
        height: 290px;
      }
    
      .image {
        width: 100%;
      }
    
      .followHeading {
        font-size: 20px;
        font-weight: 500;
        color: darkcyan;
        text-decoration: underline;
        margin-top: -1px;
      }
    
      .followImage {
        height: 45px;
        display: block;
        margin: auto;
        margin-bottom: 15px;
        cursor: pointer;
      }
    
      .followImagex {
        height: 7.5vh;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        cursor: pointer;
      }
    
      .followDivHeading {
        font-size: 20px;
        font-weight: 500;
        color: darkcyan;
        text-decoration: underline;
      }
    
      .imageDiv {
        display: grid;
        margin-top: 5vh;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
    
      .popularServices:hover {
        text-decoration: underline;
        cursor: pointer;
        color: lightseagreen;
      }
    
      .popularServices2 {
        width: 100%;
        font-size: 15px;
      }
    }
  
    @media all and (max-width: 600px) {
      * {
        -webkit-tap-highlight-color: green;
      }
    
      .main {
        width: 100%;
        background-image: linear-gradient(to right, lightyellow, lightblue);
        padding-left: 3%;
        padding-right: 3%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(2, 45%);
        padding-top: 3%;
        padding-bottom: 3%;
        letter-spacing: 1.5px;
        gap: 2.5%;
        align-items: center;
        margin-top: 5vh;
      }
    
      .parentDiv {
        margin: auto;
        display: block;
        height: 280px;
      }
    
      .image {
        width: 100%;
      }
    
      .followHeading {
        font-size: 20px;
        font-weight: 500;
        color: darkcyan;
        text-decoration: underline;
        margin-top: -1px;
      }
    
      .followImage {
        height: 45px;
        display: block;
        margin: auto;
        margin-bottom: 15px;
        cursor: pointer;
      }
    
      .followImagex {
        height: 7.5vh;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        cursor: pointer;
      }
    
      .followDivHeading {
        font-size: 20px;
        font-weight: 500;
        color: darkcyan;
        text-decoration: underline;
      }
    
      .imageDiv {
        display: grid;
        margin-top: 5vh;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
    
      .popularServices:hover {
        text-decoration: underline;
        cursor: pointer;
        color: lightseagreen;
      }
    
      .popularServices2 {
        width: 100%;
        font-size: 15px;
      }
    }
  
    @media all and (max-width: 460px) {
      * {
        -webkit-tap-highlight-color: green;
      }

      .developerInfoText{
        color: rgb(6, 44, 57);
        font-weight: 500;
        font-size: 12px;
      }
    
      .main {
        width: 100%;
        background-image: linear-gradient(to right, lightyellow, lightblue);
        padding-left: 3%;
        padding-right: 3%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        padding-top: 3%;
        padding-bottom: 15%;
        letter-spacing: 1.5px;
        align-items: center;
        margin-top: 5vh;
      }
    
      .parentDiv {
        margin: auto;
        display: block;
        height: 200px;
      }
    
      .image {
        width: 70%;
      }
    
      .followHeading {
        font-size: 20px;
        font-weight: 500;
        color: darkcyan;
        text-decoration: underline;
        margin-top: -1px;
      }
    
      .followImage {
        height: 30px;
        display: block;
        margin: auto;
        margin-bottom: 15px;
        cursor: pointer;
      }
    
      .followImagex {
        height: 7.5vh;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        cursor: pointer;
      }
    
      .followDivHeading {
        font-size: 17px;
        font-weight: 500;
        color: darkcyan;
        text-decoration: underline;
      }
    
      .imageDiv {
        display: grid;
        margin-top: 5vh;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }

      .popularServices{
        font-size: 12px;
      }
    
      .popularServices:hover {
        text-decoration: underline;
        cursor: pointer;
        color: lightseagreen;
      }
    
      .popularServices2 {
        width: 100%;
        font-size: 12px;
      }
    }
  
    @media all and (max-width: 300px) {
      * {
        -webkit-tap-highlight-color: green;
      }
    
      .main {
        width: 100%;
        background-image: linear-gradient(to right, lightyellow, lightblue);
        padding-left: 3%;
        padding-right: 3%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        padding-top: 3%;
        padding-bottom: 25%;
        letter-spacing: 1.5px;
        align-items: center;
        margin-top: 5vh;
      }
    
      .parentDiv {
        margin: auto;
        display: block;
        height: 200px;
      }
    
      .image {
        width: 70%;
      }
    
      .followHeading {
        font-size: 17px;
        font-weight: 500;
        color: darkcyan;
        text-decoration: underline;
        margin-top: -1px;
      }
    
      .followImage {
        height: 35px;
        display: block;
        margin: auto;
        margin-bottom: 15px;
        cursor: pointer;
      }
    
      .followImagex {
        height: 7.5vh;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        cursor: pointer;
      }
    
      .followDivHeading {
        font-size: 17px;
        font-weight: 500;
        color: darkcyan;
        text-decoration: underline;
      }
    
      .imageDiv {
        display: grid;
        margin-top: 5vh;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
    
      .popularServices:hover {
        text-decoration: underline;
        cursor: pointer;
        color: lightseagreen;
      }
    
      .popularServices2 {
        width: 100%;
        font-size: 12px;
      }
    }