.main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 50;
  top: 0;
  background-color: rgba(0, 0, 0, 0.995)
}

.afterScroll {
  width: 100%;
  transition: background-color 1s ease, box-shadow 1s ease;
  display: flex;
  background-color: transparent;
  box-shadow: none;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 50;
  top: 0;
  background-color: black;
  box-shadow: rgb(254, 254, 254) 0px 3px 8px;
}

.logoImage {
  width: 175px;
  height: 70px;
}

.logoImage:hover {
  cursor: pointer;
}

.optionsDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 31%;
}
.options {
  font-size: 17px;
  letter-spacing: 1px;
  color: white;
  transition: color 1s ease, text-decoration 3s ease;
  text-decoration: none;
  position: relative;
  /* font-weight: 500; */
}

.options::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: rgb(176, 196, 222);
  transition: width 1s ease;
}

.options:hover {
  /* color: rgb(0, 206, 209); */
  color: yellow;
  cursor: pointer;
}

.options:hover::after {
  width: 100%;
}

.hambergerMenu {
  display: none;
}

.hameburgerMenuDiv {
  width: 100%;
  height: 110vh;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 80;
  display: flex;
  justify-content: end;
}

.rightToLeftSliderDiv {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 65%;
  height: 100%;
  background-image: linear-gradient(gray,white);
  position: absolute;
  right: 0;
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.topSection {
  height: 40px;
  /* background-image: linear-gradient(
    to left,
    black(5, 201, 5),
    rgb(101, 212, 249)
  ); */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 9%;
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.topSectionHeading{
  text-decoration: underline;
}

.closeSymbol {
  font-size: 15px;
}

.closeSymbol:hover {
  color: rgba(226, 2, 2, 0.747);
  cursor: pointer;
}

.quickLinksDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 8%;
  height: 40px;
  font-weight: 500;
  color: yellow;
  margin-bottom: 6px;
}

.quickLinksDiv:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: rgb(103, 102, 102);
}

.quickLinkHeading {
  font-size: 14px;
  letter-spacing: 1px;
}

.moveSymbol {
  font-size: 24px;
  color: white;
}

@media all and (max-width: 1050px) {
  .main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 50;
    top: 0;
  }

  .afterScroll {
    width: 100%;
    transition: background-color 1s ease, box-shadow 1s ease;
    display: flex;
    background-color: transparent;
    box-shadow: none;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 50;
    top: 0;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .logoImage {
    width: 160px;
    height: 70px;
  }

  .optionsDiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
  }

  .options {
    font-size: 17px;
    letter-spacing: 1px;
    color: white;
    transition: color 1s ease, text-decoration 3s ease;
    text-decoration: none;
    position: relative;
    font-weight: 500;
  }

  .options::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: rgb(176, 196, 222);
    transition: width 1s ease;
  }

  .options:hover {
    /* color: rgb(0, 206, 209); */
    color: yellow;
    cursor: pointer;
  }

  .hambergerMenu {
    display: none;
  }
}

@media all and (max-width: 950px) {
  .main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 50;
    top: 0;
  }

  .afterScroll {
    width: 100%;
    transition: background-color 1s ease, box-shadow 1s ease;
    display: flex;
    background-color: transparent;
    box-shadow: none;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 50;
    top: 0;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .logoImage {
    width: 160px;
    height: 70px;
  }

  .optionsDiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 45%;
  }

  .options {
    font-size: 17px;
    letter-spacing: 1px;
    color: white;
    transition: color 1s ease, text-decoration 3s ease;
    text-decoration: none;
    position: relative;
    font-weight: 500;
  }

  .options::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: rgb(176, 196, 222);
    transition: width 1s ease;
  }

  .options:hover {
    /* color: rgb(0, 206, 209); */
    color: yellow;
    cursor: pointer;
  }

  .hambergerMenu {
    display: none;
  }
}

@media all and (max-width: 767px) {
  .main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 50;
    top: 0;
  }

  .afterScroll {
    width: 100%;
    transition: background-color 1s ease, box-shadow 1s ease;
    display: flex;
    background-color: transparent;
    box-shadow: none;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 50;
    top: 0;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .logoImage {
    width: 155px;
    height: 70px;
  }

  .optionsDiv {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
    box-sizing: border-box;
    padding-right: 5%;
    text-decoration: none;
    position: relative;
    font-weight: 500;
  }

  .options {
    display: none;
    font-size: 17px;
    letter-spacing: 1px;
    color: white;
    transition: color 1s ease, text-decoration 3s ease;
    text-decoration: none;
  }

  .options::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: rgb(176, 196, 222);
    transition: width 1s ease;
  }

  .options:hover {
    cursor: pointer;
    /* color: rgb(0, 206, 209); */
    color: yellow;
  }

  .hambergerMenu {
    display: block;
    font-size: 16px;
    color: white;
  }

  .hambergerMenu:hover {
    cursor: pointer;
    color: yellow;
  }
}

@media all and (max-width: 600px) {
  .main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 50;
    top: 0;
  }

  .afterScroll {
    width: 100%;
    transition: background-color 1s ease, box-shadow 1s ease;
    display: flex;
    background-color: transparent;
    box-shadow: none;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 50;
    top: 0;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .logoImage {
    width: 160px;
    height: 65px;
  }

  .optionsDiv {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
    box-sizing: border-box;
    padding-right: 5%;
  }

  .options {
    display: none;
    font-size: 17px;
    letter-spacing: 1px;
    color: white;
    transition: color 1s ease, text-decoration 3s ease;
    text-decoration: none;
    font-weight: 500;
  }

  .options::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: rgb(176, 196, 222);
    transition: width 1s ease;
  }

  .options:hover {
    cursor: pointer;
    /* color: rgb(0, 206, 209); */
    color: yellow;
  }

  .hambergerMenu {
    display: block;
    font-size: 15px;
  }

  .hambergerMenu:hover {
    cursor: pointer;
  }
}

@media all and (max-width: 500px) {
  .main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 50;
    top: 0;
  }

  .afterScroll {
    width: 100%;
    transition: background-color 1s ease, box-shadow 1s ease;
    display: flex;
    background-color: transparent;
    box-shadow: none;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 50;
    top: 0;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .logoImage {
    width: 150px;
    height: 60px;
  }

  .optionsDiv {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
    box-sizing: border-box;
    padding-right: 5%;
  }

  .options {
    display: none;
  }

  .options:hover {
    cursor: pointer;
    color: yellow;
  }

  .hambergerMenu {
    display: block;
    font-size: 15px;
  }

  .hambergerMenu:hover {
    cursor: pointer;
  }
}
